#quiz-container {
    max-width: 600px;
    margin: 50px auto;
    text-align: left;
    background-color: #333;
    padding: 30px;
    border-radius: 15px;
}

/* question */
#question {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#options button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    font-size: 16px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#options button:hover {
    background-color: #777;
}

/* Highlight correct and wrong answers */
#options button.correct {
    background-color: #4CAF50; /* green */
    color: white;
}

#options button.wrong {
    background-color: #f44336; /* red */
    color: white;
}

/* Highlight the selected button (optional) */
#options button.selected {
    border: 2px solid #fff;
}

/* next button */
#next-btn {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #00ff08;
    color: white;
    transition: background-color 0.3s;
}

#next-btn:hover {
    background-color: #03ca03;
}
